/* Utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --white: white;
    --gray: gray;
    --darkgray: #222222;
}
header{
    height: 60px;
    z-index: 100;
}
footer{
    background-color: var(--darkgray);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
.container{
    width: 90%;
    margin: auto;
    min-width: 700px;
}
.flex{
    display: flex;
}
.text_style{
    color: var(--white);
    background-color: var(--gray);
    padding: 4px;
    font-size: 1vw;
}

/* header */
header .flex{
    justify-content: flex-end;
}
header .text_style{
    border-radius: 4px;
}
header .text_style:hover{
    cursor: pointer;
}
header div.flex div{
    margin: 15px;
}

/* immagini del profilo */

main div.container.flex{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
main div.container .photo{
    width: calc(100% / 7);
    min-width: 125px;
    position: relative;
    margin-bottom: 5px;

}
main div.container .photo img{
    width: 100%;
    padding-right: 3px;
}
main div.container .photo .text_style{
    background-color: rgba(128, 128, 128, 0.6);
    position: absolute;
    bottom: 4px;
    left: 0;
}

/* barra dei comandi */

footer .command_bar{
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    text-align: center;
    padding-left: 15px;
}
footer .command_bar i{
    font-size: 20px;
    padding-bottom: 10px;
}
footer .command_bar i + div{
    font-size: 15px;
}
footer .command_bar .flex > div{
    padding-left: 20px;
}
footer .command_bar h5{
    color: red;
    background-color: #4A4A4A;
    line-height: 80px;
    min-width: 100px;
}
footer .green{
    color: green;
}
footer .command_bar .flex > div.arrow{
    font-size: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 12px;
}